{{> head }}


    
    {{> navbar }}

    <div class="row" >
        <div class="col-8">
            <h1> super mario bros</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit deleniti voluptatem, modi consectetur ducimus blanditiis dolorum corrupti natus nihil quibusdam recusandae esse suscipit maxime! Illum laborum vero sapiente cumque! Aspernatur!</p>
        </div>
        <div class="col-4">
            <img src="assets/img/fondo2.jpg" class="img-thumbnail">
        </div>
    </div>

    {{> footer }}